.states {
    
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.chart {
    border: 1px solid grey;
}

.numbers {
    fill: white;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}