body {
    background-image: url(../img/prism.png);
    padding-top: 75px;

    font-family: 'Oswald', sans-serif;
}

.intro {
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    background: #303030;
    border-bottom: 2px solid #989898;

    font-family: 'Pathway Gothic One', sans-serif;
}

.text-center {
    margin: auto;
    margin-bottom: 25px;
}

.states,
.bars {
    stroke: black;
    stroke-width: 0.5px;
}


.gratLines {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
}

hr {
    border-color: grey;
}
.chart-label {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

.tick text {
    fill: white;
    stroke-width: 0.5px;
}

.axis path,
.tick line {
    stroke: grey;
    stroke-width: 1px;
}


.numbers {
    fill: white;
}

.infolabel {
    position: absolute;
    min-width: 100px;
    color: white;
    background-color: #353535;
    border: solid thin #fff;
    padding: 5px 10px;
    font-size: 1em;
}

.infolabel p {
    margin: 0;
}

.button-container {
    margin: 10px;
    text-align: center;
    position: relative;
    color: #989898;
}

.button {
    height: 4em;
    width: 4em;
    margin: auto;
    border-radius: 50%;
    background: #353535;
    box-shadow: 5px 5px 18px rgba(8.2, 8.2, 8.2, 1),
        -3px -3px 5px rgba(100.3, 100.3, 100.3, 0.75),
        inset 9px 9px 18px rgba(8.2, 8.2, 8.2, 0),
        inset -9px -9px 18px rgba(33.3, 33.3, 33.3, 0);
    transition: box-shadow 0.2s ease;

    cursor: pointer;
}

.active {
    box-shadow: 5px 5px 18px rgba(8.2, 8.2, 8.2, 0),
        -5px -5px 18px rgba(33.3, 33.3, 33.3, 0),
        inset 3px 3px 10px rgba(8.2, 8.2, 8.2, 1),
        inset -3px -3px 5px rgba(100.3, 100.3, 100.3, 1);
}

.button p {
    position: absolute;
    font-size: 1.75em;
    left: 0px;
    right: 0px;
    line-height: 2.25em;
}

.button-label {
    font-size: 0.75em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.legend {
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin: auto;
}

.legend-label {
    display: inline-block;
}

.legend-box {
    border: 1px solid white;
    border-right: 0px;
    height: 0.75em;
    width: 50px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    
}

.box-1 {
    background-color: #fec424;
    margin-left: 5px;
}

.box-2 {
    background-color: #daa81f;
}

.box-3 {
    background-color: #b48b1a;
}

.box-4 {
    background-color: #8c6c14;
}

.box-5 {
    background-color: #664f0e;
    border-right: 1px solid white;
    margin-right: 5px;
}

.sources {
    color: white;
    font-size: 0.75em;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .legend-box {
        width: 25px;
    }
}