body {
    background-image: url(../img/prism.png);
    padding-top: 75px;

    font-family: 'Oswald', sans-serif;
}

.intro {
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    background: #303030;
    border-bottom: 2px solid #989898;

    font-family: 'Pathway Gothic One', sans-serif;
}

.states,
.bars {
    stroke: black;
    stroke-width: 0.5px;
}


.gratLines {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
}


.chart-label {
    position: absolute;
    right: 25px;
    top: 20px;
    max-width: 50%;
    color: white;
}

.tick text {
    fill: white;
    stroke-width: 0.5px;
}

.axis path,
.tick line {
    stroke: grey;
    stroke-width: 1px;
}


.numbers {
    fill: white;
}

.infolabel {
    position: absolute;
    min-width: 100px;
    color: white;
    background-color: #353535;
    border: solid thin #fff;
    padding: 5px 10px;
    font-size: 1em;
}

.infolabel p {
    margin: 0;
}

.button-container {
    margin: 10px;
    text-align: center;
    position: relative;
    color: #989898;
}

.button {
    height: 4em;
    width: 4em;
    margin: auto;
    border-radius: 50%;
    background: #353535;
    box-shadow: 5px 5px 18px rgba(8.2, 8.2, 8.2, 1),
        -3px -3px 5px rgba(100.3, 100.3, 100.3, 0.75),
        inset 9px 9px 18px rgba(8.2, 8.2, 8.2, 0),
        inset -9px -9px 18px rgba(33.3, 33.3, 33.3, 0);
    transition: box-shadow 0.2s ease;

    cursor: pointer;
}

.active {
    box-shadow: 5px 5px 18px rgba(8.2, 8.2, 8.2, 0),
        -5px -5px 18px rgba(33.3, 33.3, 33.3, 0),
        inset 3px 3px 10px rgba(8.2, 8.2, 8.2, 1),
        inset -3px -3px 5px rgba(100.3, 100.3, 100.3, 1);
}

.button p {
    position: absolute;
    font-size: 1.75em;
    left: 0px;
    right: 0px;
    line-height: 2.25em;
}

.button-label {
    font-size: 0.75em;
    margin-top: 5px;
    margin-bottom: 10px;
}
